<!DOCTYPE html>
<html>
  <head>
    <title>TurboDemo</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1>Turbo demo</h1>
    <%= link_to "Home", root_path %>
    <%= link_to "About", about_path %>
    <hr />
    <%= yield %>

    <%= turbo_frame_tag "modal" %>
  </body>
</html>
